<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логін Сторінка</title>
        <link rel="stylesheet" href="/generalStyle.css">
</head>
<body>
<header>
    <div class="container nav">
        <div class="logo">IT Kids School</div>
        <nav class="menu">
            <a class="active" href="/openSource/homepage">Головна</a>
            <a href="/openSource/courses">Курси</a>
        </nav>
    </div>
</header>

<section class="hero">
    <h2>Увійти</h2>
</section>
<div class="error-box" th:if="${output == 'notValid'}">Не коректні данні</div>
<div class="mt-30 container">

    <form action="/login" method="post">
        <label for="username">Логін:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <button class="btn-green" type="submit">Увійти</button>
    </form>
</div>
</body>
</html>
