<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
    <link rel="stylesheet" href="/generalStyle.css">
</head>
<body>
<header style="background-color: #111827">
    <div class="container nav">
        <div class="logo">IT Kids School</div>
        <nav class="menu">
            <a href="/admin/homepage">Головна</a>
            <a href="/admin/students">Учні</a>
            <a href="/admin/teachers">Викладачі</a>
            <a href="/logout">Вийти</a>
        </nav>
    </div>
</header>
<div class="error-box" th:if="${output=='tooLate'}">Вибачте, але редагувати можна лише за 12 годин до заняття.</div>
<div class="error-box" th:if="${output == 'general'}">Упс, щось пішло не так.</div>
<section class="hero">
    <div class="container">
        <h3 >Усі викладачі:</h3>
    </div>
</section>


<!-- FORM -->
<div class="container">

    <div class="card">
        <input type="text" id="myInput" onkeyup="searchTeacher()" placeholder="Search for names..">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Вік</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>tg username</th>
                <th>Коментар</th>
                <th>Дії</th>
            </tr>
            </thead>

            <tbody id="teachers">
            <tr th:each="teacher : ${teachers}">
                <td th:text="${teacher.id}">1</td>
                <td th:text="${teacher.user.name}">Ім'я</td>
                <td th:text="${teacher.age}">15</td>
                <td th:text="${teacher.user.email}">email</td>
                <td th:text="${teacher.phoneNumber}">+380...</td>
                <td th:text="${teacher.tgUsername}">+380...</td>
                <td th:text="${teacher.comment}">comment</td>

                <td>
                    <a th:href="@{/admin/teacher/{id}/edit(id=${teacher.id})}" class="btn btn-blue">✏️</a>
                    <a th:href="@{/admin/teacher/{id}/lessons(id=${teacher.id})}" class="btn btn-blue">lessons</a>
                    <form method="post" th:action="@{/admin/teacher/{id}/delete(id=${teacher.id})}">
                        <input type="hidden" name="teacherId" th:value="${teacher.id}" />
                    <button style="background-color: red" class="btn btn-red" type="submit" onclick="return confirm('Видалити?')">🗑</button>
                    </form>
                    <a th:href="@{/admin/teacher/{id}/info(id=${teacher.id})}" class="btn btn-blue">info</a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- якщо список пустий -->
        <div th:if="${teachers.isEmpty()}">
            <p>Вчителів поки немає</p>
        </div>

    </div>
</div>

<footer>
    <div class="container">
        <div>IT Kids School - розвиток майбутніх IT-талантів.</div>
        <div style="margin-top: 10px;">
            Контакти: 0970959664 | yaroslav.gorbatyuk.2004@gmail.com | Telegram: Uarrik
        </div>
        <div class="footer-links">
            <a href="#">Instagram</a>
            <a href="#">Telegram</a>
            <a href="#">Facebook</a>
            <a href="#">Політика конфіденційності</a>
        </div>
    </div>
</footer>
<!--<script>-->
<!--    function searchTeacher() {-->
<!--        // Declare variables-->
<!--        var input, filter, ul, a, i, txtValue;-->
<!--        input = document.getElementById('myInput');-->
<!--        teachers = document.getElementById('teachers').getElementsByTagName("tr");-->
<!--        filter = input.value.toUpperCase();-->

<!--        // Loop through all list items, and hide those who don't match the search query-->
<!--        for (i = 0; i < teachers.length; i++) {-->
<!--            a = teachers[i].getElementsByTagName("td")[1];-->
<!--            txtValue = a.textContent || a.innerText;-->
<!--            if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                teachers[i].style.display = "";-->
<!--            } else {-->
<!--                teachers[i].style.display = "none";-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->
<script src="/mainSrcipt.js"></script>
</body>
</html>