<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редагування викладача</title>
    <link rel="stylesheet" href="/generalStyle.css">
</head>
<body>
<header style="background-color: #111827">
    <div class="container nav">
        <div class="logo">IT Kids School</div>
        <nav class="menu">
            <a th:href="@{/teacher/{idTeach}/homepage(idTeach = ${teacher.id})}">Головна</a>
            <a th:href="@{/teacher/{idTeach}/students(idTeach = ${teacher.id})}">Учні</a>
            <a th:href="@{/teacher/{idTeach}/lessons(idTeach = ${teacher.id})}">Уроки</a>
            <a href="/logout">Вийти</a>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="container">
        <p th:text="'Вчитель: '+${teacher.user.name}"></p>
        <h3 style="margin-left: 35px">Уроки:</h3>
    </div>
</section>


<div class="container">
    <div class="error-box" th:if="${output == 'exists'}">Така пошта вже зареєстрована</div>
    <div class="error-box" th:if="${output == 'general'}">Упс, щось пішло не так</div>
    <div class="success-box" th:if="${output == 'teacherEdited'}">Вчителя Успішно редаговано</div>
    <div class="success-box" th:if="${output == 'deleteAccepted'}">Видалення уроку успішно прийнято</div>
    <div class="success-box" th:if="${output == 'deleteDenyed'}">Видалення уроку успішно відхилено</div>
    <p style="display: none" th:text="${teacher.id}" id="id"></p>
    <form id="form" th:action="@{/teacher/{id}/homepage/OLDPASS(id=${teacher.id})}" th:object="${teacher}"
          method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-grid">

            <div class="field">
                <label>Ім'я:</label>
                <input required maxlength="50" th:field="${teacher.user.name}">
            </div>

            <div class="field">
                <label>Вік:</label>
                <input required min="18" type="number" th:field="${teacher.age}">
            </div>

            <div class="field">
                <label>Email:</label>
                <input required maxlength="50" type="email" th:field="${teacher.user.email}">
            </div>

            <div class="field">
                <label>Телефон:</label>
                <input required maxlength="15" type="text" th:field="${teacher.phoneNumber}">
            </div>

            <div class="field">
                <label>Telegram:</label>
                <input required type="text" th:field="${teacher.tgUsername}">
            </div>

            <div class="field">
                <label>Коментар:</label>
                <input required maxlength="500" type="text" th:field="${teacher.comment}">
            </div>
            <div class="field">
                <lable>Пароль(якщо бажаєте змінити):</lable>
                <input type="password" minlength="6" name="password" placeholder="Введіть новий пароль" id="pass">
            </div>
            <div class="field">
                <label>Статус:</label>
                <p th:classappend="${teacher.approved==1} ? 'status' : 'status not-approved'"
                   th:text="${teacher.approved==1 ? 'Підтверджений' : 'Непідтверджений'}"></p>
            </div>

            <!-- Курси -->
            <div class="block">
                <h2>Курси</h2>

                <!-- список -->
                <ul id="coursesList">
                    <li th:each="tc : ${teacher.teacherCourses}"
                        th:text="${tc.course.name}">
                    </li>
                    <li th:each="tc : ${teacher.teacherCourses}"
                        th:text="${tc.course.id}"
                        style="display: none">
                    </li>
                </ul>
                <input type="text" id="myInput" onkeyup="searchCourseSelect()" placeholder="Search for names..">
                <!-- select -->
                <select id="courseSelect">
                    <option value="">Додати курс</option>
                    <option th:each="c : ${allCourses}"
                            th:value="${c.id}"
                            th:text="${c.name}">
                    </option>
                </select>

                <!-- hidden inputs -->
                <div id="coursesInputs"></div>
            </div>
            <!-- Вільний час -->
            <div style="display: flex">
                <div class="block">
                    <div class="field">
                        <label>Зарплата (ще не виплачена):</label>
                        <input readonly type="text" th:field="${teacher.unpaidMoney}">
                    </div>
                </div>
            </div>
            <div class="block">
                <h2>Вільний час</h2>

                <table class="times-table">
                    <thead>
                    <tr>
                        <th>Година</th>
                        <th th:each="dayName : ${dayNames}" th:text="${dayName}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="hour : ${hours}">
                        <th th:text="${hour}"></th>

                        <td th:each="day : ${days}">
                            <input type="checkbox"
                                   class="freeTimeCheckbox"
                                   name="freeTimeIds"
                                   th:each="ft : ${freeTimes}"
                                   th:if="${(ft.dayOfTheWeek == day and ft.timeOfTheDay.toString() == hour.split(':')[0] and ft.minute.toString() == hour.split(':')[1].replace('0','')+'0') }"
                                   th:value="${ft.id}"
                                   th:checked="${teacherFreeTimes.contains(ft.id)}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <button onclick="managePassTeacher()" class="btn btn-green" type="submit" style="max-width: 120px">Зберегти
        </button>

    </form>

</div>
<footer id="contacts">
    <div class="container">
        <div>IT Kids School - розвиток майбутніх IT-талантів.</div>
        <div style="margin-top: 10px;">
            Контакти: 0970959664 | yaroslav.gorbatyuk.2004@gmail.com | Telegram: Uarrik
        </div>
        <div class="footer-links">
            <a href="#">Instagram</a>
            <a href="#">Telegram</a>
            <a href="#">Facebook</a>
            <a href="#">Політика конфіденційності</a>
        </div>
    </div>
</footer>
<!--<script>-->
<!--    function searchCourse() {-->
<!--        // Declare variables-->
<!--        var input, filter, ul, a, i, txtValue;-->
<!--        input = document.getElementById('myInput');-->
<!--        courses = document.getElementById('courseSelect').getElementsByTagName("option");-->
<!--        filter = input.value.toUpperCase();-->

<!--        // Loop through all list items, and hide those who don't match the search query-->
<!--        for (i = 0; i < courses.length; i++) {-->
<!--            a = courses[i];-->
<!--            txtValue = a.textContent || a.innerText;-->
<!--            if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                courses[i].style.display = "";-->
<!--            } else {-->
<!--                courses[i].style.display = "none";-->
<!--            }-->
<!--        }-->
<!--    }-->

<!--    function managePass() {-->
<!--        let id = document.getElementById("id").innerText-->
<!--        let pass = document.querySelector("#pass")-->
<!--        let form = document.querySelector("#form")-->
<!--        if (pass.value === "") {-->
<!--            form.action = "/teacher/" + id + "/homepage/OLDPASS"-->
<!--        } else {-->
<!--            form.action = "/teacher/" + id + "/homepage/" + pass.value-->
<!--        }-->

<!--    }-->


<!--</script>-->
<!--<script>-->
<!--    const select = document.getElementById("courseSelect");-->
<!--    const list = document.getElementById("coursesList");-->
<!--    const inputsDiv = document.getElementById("coursesInputs");-->

<!--    // щоб не додавати дублікати-->
<!--    let addedCourses = new Set();-->

<!--    select.addEventListener("change", function () {-->
<!--        const selectedOption = select.options[select.selectedIndex];-->
<!--        const courseId = selectedOption.value;-->
<!--        const courseName = selectedOption.text;-->

<!--        if (!courseId) return;-->
<!--        let present = false-->

<!--        for (let i = 0; i < list.getElementsByTagName("li").length; i++) {-->
<!--            console.log(list.getElementsByTagName("li")[i].innerText)-->
<!--            console.log(courseId)-->
<!--            console.log(" ")-->
<!--            if (list.getElementsByTagName("li")[i].innerText == courseId) {-->
<!--                present = true;-->
<!--            }-->
<!--        }-->
<!--        console.log(present)-->
<!--        if (addedCourses.has(courseId) || present) {-->
<!--            alert("Цей курс вже доданий");-->
<!--            return;-->
<!--        }-->

<!--        // додаємо в список-->
<!--        const li = document.createElement("li");-->
<!--        li.innerText = courseName;-->
<!--        list.appendChild(li);-->
<!--        const liId = document.createElement("li");-->
<!--        liId.innerText = courseId;-->
<!--        liId.style.display = "none"-->
<!--        list.appendChild(liId);-->

<!--        // додаємо hidden input для бекенду-->
<!--        const input = document.createElement("input");-->
<!--        input.type = "hidden";-->
<!--        input.name = "newCourseIds";-->
<!--        input.value = courseId;-->
<!--        inputsDiv.appendChild(input);-->

<!--        addedCourses.add(courseId);-->

<!--        // скидаємо select-->
<!--        select.value = "";-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    let freeTimeChanged = false;-->

<!--    let isMouseDown = false;-->

<!--    // Відстежуємо, чи натиснута кнопка миші в цілому на документі-->
<!--    document.body.onmousedown = () => (isMouseDown = true);-->
<!--    document.body.onmouseup = () => (isMouseDown = false);-->

<!--    // Додаємо обробники для кожного чекбоксу-->
<!--    document.querySelectorAll('.freeTimeCheckbox').forEach(checkbox => {-->
<!--        checkbox.addEventListener('mouseover', () => {-->
<!--            if (isMouseDown) {-->
<!--                checkbox.checked = !checkbox.checked;-->
<!--            }-->
<!--        });-->
<!--    });-->

<!--    document.querySelectorAll('.freeTimeCheckbox').forEach(cb => {-->
<!--        cb.addEventListener('change', () => {-->
<!--            freeTimeChanged = true;-->
<!--        });-->
<!--    });-->

<!--    function handleSubmit(event) {-->
<!--        if (freeTimeChanged) {-->
<!--            return confirm("Якщо ви змінете свої вільні часи то ваші заняття з учнями на ці часи будуть видалені. Продовжити?");-->
<!--        }-->
<!--        return true;-->
<!--    }-->

<!--    function togglePassword() {-->
<!--        const input = document.getElementById("passwordField");-->
<!--        const btn = event.target;-->

<!--        if (input.type === "password") {-->
<!--            input.type = "text";-->
<!--            btn.innerText = "Сховати";-->
<!--        } else {-->
<!--            input.type = "password";-->
<!--            btn.innerText = "Показати";-->
<!--        }-->
<!--    }-->
<!--</script>-->
<script src="/mainSrcipt.js"></script>
</body>
</html>