<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/generalStyle.css">
</head>
<body>
<header>
    <div class="container nav">
        <div class="logo">IT Kids School</div>
        <nav class="menu">
            <a th:href="@{/teacher/{idTeach}/homepage(idTeach = ${teacher.id})}">Головна</a>
            <a th:href="@{/teacher/{idTeach}/students(idTeach = ${teacher.id})}">Учні</a>
            <a th:href="@{/teacher/{idTeach}/lessons(idTeach = ${teacher.id})}">Уроки</a>
            <a href="/logout">Вийти</a>
        </nav>
    </div>
</header>
    <div class="success-box" th:if="${output == 'studentDeleted'}">Учня успішно видалено</div>
    <section class="hero">
        <div class="container">
            <p th:text="'Вчитель: '+${teacher.user.name}"></p>
            <h3 class="ml-35">Учні:</h3>
        </div>
    </section>

<!-- FORM -->
<div class="container" >
    <div class="overflow-x-hidden card">
        <input type="text" id="myInput" onkeyup="searchStudent()" placeholder="Search for names..">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Вік</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Дії</th>
            </tr>
            </thead>

            <tbody id="students">
            <tr th:each="student : ${students}">
                <td th:text="${student.id}">1</td>
                <td th:text="${student.user.name}">Ім'я</td>
                <td th:text="${student.age}">15</td>
                <td th:text="${student.user.email}">email</td>
                <td th:text="${student.phoneNumber}">+380...</td>

                <td>
                    <a th:href="@{/teacher/{idTeach}/student/{idSt}/lessons(idTeach=${teacher.id}, idSt=${student.id})}" class="btn btn-blue">lessons</a>
                    <form method="post"   th:action="@{/teacher/{idTeach}/student/{idSt}/delete(idTeach=${teacher.id}, idSt=${student.id})}" >
                        <input type="hidden" name="studentId" th:value="${student.id}" />
                        <input type="hidden" name="teacherId" th:value="${teacher.id}" />
                        <button class="btn btn-red" type="submit" onclick="return confirm('Видалити Учня? ')">🗑</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- якщо список пустий -->
        <div th:if="${students.isEmpty()}">
            <p>Учнів поки немає</p>
        </div>

    </div>
</div>

<footer>
    <div class="container">
        <div>IT Kids School - розвиток майбутніх IT-талантів.</div>
        <div class="mt-10">
            Контакти: 0970959664 | yaroslav.gorbatyuk.2004@gmail.com | Telegram: Uarrik
        </div>
        <div class="footer-links">
            <a href="#">Instagram</a>
            <a href="#">Telegram</a>
            <a href="#">Facebook</a>
            <a href="#">Політика конфіденційності</a>
        </div>
    </div>
</footer>
<!--<script>-->
<!--    function searchStudent() {-->
<!--        // Declare variables-->
<!--        var input, filter, students, a, i, txtValue;-->
<!--        input = document.getElementById('myInput');-->
<!--        students = document.getElementById('students').getElementsByTagName("tr");-->
<!--        filter = input.value.toUpperCase();-->

<!--        // Loop through all list items, and hide those who don't match the search query-->
<!--        for (i = 0; i < students.length; i++) {-->
<!--            a = students[i].getElementsByTagName("td")[1];-->
<!--            txtValue = a.textContent || a.innerText;-->
<!--            if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                students[i].style.display = "";-->
<!--            } else {-->
<!--                students[i].style.display = "none";-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->
<script src="/mainSrcipt.js"></script>
</body>

</html>