<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування викладача</title>

    <link rel="stylesheet" href="/generalStyle.css">
</head>
<body>
<header>
    <div class="container nav">
        <div class="logo">IT Kids School</div>
        <nav class="menu">
            <a href="/admin/homepage">Головна</a>
            <a href="/admin/students">Учні</a>
            <a href="/admin/teachers">Викладачі</a>
            <a href="/logout">Вийти</a>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="container">
        <p th:text="'Вчитель: '+${teacher.user.name}"></p>
        <h3 >Редагувати вчителя:</h3>
    </div>
</section>
<div class="container">
    <div class="error-box" th:if="${output == 'exists'}">Така пошта вже зареєстрована</div>
    <div class="error-box" th:if="${output == 'noCourses'}">Кількість курсів не може бути 0</div>
    <div class="error-box" th:if="${output == 'noFreeTimes'}">Кількість вільних часів не може бути нуль</div>
    <div class="error-box" th:if="${output == 'general'}">Упс, щось пішло не так</div>
    <div class="success-box" th:if="${output == 'teacherEdited'}">Вчителя успішно змінено</div>
    <form th:action="@{/admin/teacher/{id}/edit/(id=${teacher.id})}" th:object="${teacher}" id="form" method="post" >

        <p class="d-none" id="id" th:text="${teacher.id}"></p>
        <div class="form-grid">
            <!-- Основна інформація -->
            <div class="field">
                <label for="name">ПІБ / ім'я</label>
                <input id="name" type="text" th:field="*{user.name}" required minlength="2" maxlength="100"

                       title="Лише букви, пробіли, апостроф або дефіс">
            </div>

            <div class="field">
                <label for="age">Вік</label>
                <input id="age" type="number" th:field="*{age}" required min="18" max="99">
            </div>

            <div class="field">
                <label for="email">Пошта</label>
                <input id="email" type="email" th:field="*{user.email}" required maxlength="50">
            </div>

            <div class="field">
                <label for="phoneNumber">Номер телефону</label>
                <input id="phoneNumber" type="tel" th:field="*{phoneNumber}" required maxlength="15"
                       title="Введіть коректний номер телефону">
            </div>

            <div class="field">
                <label for="tgUsername">Telegram (@Tg use або нік)</label>
                <input id="tgUsername" type="text" th:field="*{tgUsername}" maxlength="30" required
                       placeholder="@username">
            </div>


            <div class="field">
                <lable>Пароль(якщо бажаєте змінити):</lable>
                <input type="password"  name="password" placeholder="Введіть новий пароль" id="pass">
            </div>

            <div class="form-group">
                <label>Коментар</label>
                <textarea th:field="*{comment}" maxlength="500" required
                          placeholder="Наприклад: зручний час занять, рівень підготовки, побажання"></textarea>
            </div>

            <!-- Курси -->
            <div class="block">
                <h2>Курси</h2>

                <!-- список -->
                <ul id="coursesList">
                    <li th:each="tc : ${teacher.teacherCourses}"
                        th:text="${tc.course.name}">
                    </li>
                    <li class="d-none" th:each="tc : ${teacher.teacherCourses}"
                        th:text="${tc.course.id}">
                    </li>
                </ul>
                <input type="text" id="myInput" onkeyup="searchCourseSelect()" placeholder="Search for names..">
                <!-- select -->
                <select id="courseSelect">
                    <option value="">Додати курс</option>
                    <option th:each="c : ${allCourses}"
                            th:value="${c.id}"
                            th:text="${c.name}">
                    </option>
                </select>

                <!-- hidden inputs -->
                <div id="coursesInputs"></div>
            </div>
            <!-- Вільний час -->
            <div class="block">
                <h2>Вільний час</h2>

                <table class="times-table">
                    <thead>
                    <tr>
                        <th>Година</th>
                        <th th:each="dayName : ${dayNames}" th:text="${dayName}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="hour : ${hours}">
                        <th th:text="${hour}"></th>

                        <td th:each="day : ${days}">
                            <input type="checkbox"
                                   class="freeTimeCheckbox"
                                   name="freeTimeIds"
                                   th:each="ft : ${freeTimes}"
                                   th:if="${(ft.dayOfTheWeek == day and ft.timeOfTheDay.toString() == hour.split(':')[0] and ft.minute.toString() == hour.split(':')[1].replace('0','')+'0') }"
                                   th:value="${ft.id}"
                                   th:checked="${teacherFreeTimes.contains(ft.id)}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <button onclick="managePassEditTeacher()" class="btn-small btn btn-green" type="submit">Зберегти</button>

    </form>

</div>
<footer id="contacts">
    <div class="container">
        <div>IT Kids School - розвиток майбутніх IT-талантів.</div>
        <div class="mt-10">
            Контакти: 0970959664 | yaroslav.gorbatyuk.2004@gmail.com | Telegram: Uarrik
        </div>
        <div class="footer-links">
            <a href="#">Instagram</a>
            <a href="#">Telegram</a>
            <a href="#">Facebook</a>
            <a href="#">Політика конфіденційності</a>
        </div>
    </div>
</footer>
<script src="/mainSrcipt.js"></script>
<script>
</script>

<!--<script>-->
<!--    function searchCourse() {-->
<!--        // Declare variables-->
<!--        var input, filter, ul, a, i, txtValue;-->
<!--        input = document.getElementById('myInput');-->
<!--        courses = document.getElementById('courseSelect').getElementsByTagName("option");-->
<!--        filter = input.value.toUpperCase();-->

<!--        // Loop through all list items, and hide those who don't match the search query-->
<!--        for (i = 0; i < courses.length; i++) {-->
<!--            a = courses[i];-->
<!--            txtValue = a.textContent || a.innerText;-->
<!--            if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                courses[i].style.display = "";-->
<!--            } else {-->
<!--                courses[i].style.display = "none";-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--    function managePass(){-->
<!--        let id = document.getElementById("id").innerText-->
<!--        let pass = document.querySelector("#pass")-->
<!--        let form = document.querySelector("#form")-->
<!--        if(pass.value===""){-->
<!--            form.action = "/admin/teacher/"+id+"/edit/OLDPASS"-->
<!--        }else{-->
<!--            form.action = "/admin/teacher/"+id+"/edit/"+pass.value-->
<!--        }-->

<!--    }-->

<!--</script>-->
<!--<script>-->
<!--    const select = document.getElementById("courseSelect");-->
<!--    const list = document.getElementById("coursesList");-->
<!--    const inputsDiv = document.getElementById("coursesInputs");-->

<!--    // щоб не додавати дублікати-->
<!--    let addedCourses = new Set();-->

<!--    select.addEventListener("change", function () {-->
<!--        const selectedOption = select.options[select.selectedIndex];-->
<!--        const courseId = selectedOption.value;-->
<!--        const courseName = selectedOption.text;-->

<!--        if (!courseId) return;-->

<!--        for(let i = 0; i<list.getElementsByTagName("li").length;i++){-->
<!--            console.log(list.getElementsByTagName("li")[i].innerText)-->
<!--            console.log(courseId)-->
<!--            console.log(" ")-->
<!--            if(list.getElementsByTagName("li")[i].innerText==courseId){-->
<!--                present = true;-->
<!--            }-->
<!--        }-->
<!--        console.log(present)-->
<!--        if (addedCourses.has(courseId) || present) {-->
<!--            alert("Цей курс вже доданий");-->
<!--            return;-->
<!--        }-->

<!--        // додаємо в список-->
<!--        const li = document.createElement("li");-->
<!--        li.innerText = courseName;-->
<!--        list.appendChild(li);-->
<!--        const liId = document.createElement("li");-->
<!--        liId.innerText = courseId;-->
<!--        liId.style.display = "none"-->
<!--        list.appendChild(liId);-->
<!--        // додаємо hidden input для бекенду-->
<!--        const input = document.createElement("input");-->
<!--        input.type = "hidden";-->
<!--        input.name = "newCourseIds";-->
<!--        input.value = courseId;-->
<!--        inputsDiv.appendChild(input);-->

<!--        addedCourses.add(courseId);-->

<!--        // скидаємо select-->
<!--        select.value = "";-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    let freeTimeChanged = false;-->

<!--    let isMouseDown = false;-->

<!--    // Відстежуємо, чи натиснута кнопка миші в цілому на документі-->
<!--    document.body.onmousedown = () => (isMouseDown = true);-->
<!--    document.body.onmouseup = () => (isMouseDown = false);-->

<!--    // Додаємо обробники для кожного чекбоксу-->
<!--    document.querySelectorAll('.freeTimeCheckbox').forEach(checkbox => {-->
<!--        checkbox.addEventListener('mouseover', () => {-->
<!--            if (isMouseDown) {-->
<!--                checkbox.checked = !checkbox.checked;-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--    document.querySelectorAll('.freeTimeCheckbox').forEach(cb => {-->
<!--        cb.addEventListener('change', () => {-->
<!--            freeTimeChanged = true;-->
<!--        });-->
<!--    });-->

<!--    function handleSubmit(event) {-->
<!--        if (freeTimeChanged) {-->
<!--            return confirm("Якщо ви змінете свої вільні часи то ваші заняття з учнями на ці часи будуть видалені. Продовжити?");-->
<!--        }-->
<!--        return true;-->
<!--    }-->

<!--    function togglePassword() {-->
<!--        const input = document.getElementById("passwordField");-->
<!--        const btn = event.target;-->

<!--        if (input.type === "password") {-->
<!--            input.type = "text";-->
<!--            btn.innerText = "Сховати";-->
<!--        } else {-->
<!--            input.type = "password";-->
<!--            btn.innerText = "Показати";-->
<!--        }-->
<!--    }-->
<!--</script>-->

</body>
</html>
